# Core functionality - changes here should be rare!
/src/app.py                   @Vani691
/src/backend/database.py      @Vani691
/src/backend/routers/auth.py  @Vani691

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Vani691
